.input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.input-list-container {
    margin-bottom: 30px;
}
.input-box-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 15px;
}





