.transformation-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.transformation-container-title {
    font-size: 1.4em;
    padding: 20px 0;
}

.matrix-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0 20px 0;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.matrix {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    padding: 10px;
    border: none;
    background-color: #201f1f;
    text-align: center;
    font-family: monospace;
    color: #fff;
}

.matrix.final {
    background-color: #83BCA9;
}

.matrix div {
    padding: 10px;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-descompotition {
    width: 100%;
    background-color: #fff;
    color: #D36135;
    padding: 20px 0;
    margin: 0 0 10px 0;
    font-size: 1.2em;
}

.final-matrix {
    width: 100%;
    margin: 30px 0px 80px 0px;
}

.final-matrix-title {
    font-size: 1.4em;
}

@media screen and (min-width: 800px) {
    .matrix {
        border-radius: 20px;
        border: 3px solid #000;
    }

    .matrix div {
        border-radius: 10px;
    }

    .final-matrix {
        width: 85%;
    }
}

@media (max-width: 900px) {
    .matrix.final {
        font-size: 10px;
        /* Solo 1 columna */
    }
}